@{
    ViewBag.Title = "Control";
}

<h2>Control @ViewBag.DeviceCode</h2>

<table>
    <thead>
        <tr>
            <th style="width:100px">GPIO</th>
            <th>Status</th>
        </tr>

    </thead>
    @for (int i = 0; i < 7; i++)
    {
        <tr>
            <td>GPIO_GEN @i   </td>
            <td>
                <button onclick="sendChangeStatus(@i,1)">Aç (1)</button>
                <button onclick="sendChangeStatus(@i,0)">Kapat (0)</button>
            </td>
        </tr>
    }

</table>

<script type="text/javascript">
    var deviceId = "@ViewBag.DeviceId";
    function sendChangeStatus(pinNo, status) {
        var jqxhr = $.get("ChangeStatus?pinNo=" + pinNo + "&status=" + status + "&deviceId=" + deviceId)
          .done(function () {
              alert("OK");
          })
          .fail(function () {
              alert("ERROR");
          });
    }
</script>