@model List<RPi.Portal.DataAccess.Device>
@{
    ViewBag.Title = "Index";
}

<h2>Devices</h2>
@Html.ActionLink("Add Device", "Create")
<ul>
    @foreach (var item in Model)
    {
        <li>
            Code: @Html.ActionLink(item.Code, "Control", new { deviceId = item.Id }) | @Html.ActionLink("Delete", "Delete", new { deviceId = item.Id }, new { style = "margin-left:20px;" })
        </li>
    }

</ul>
